# Global owners
* @zzszmyf

# Scanner
/internal/scanner/ @zzszmyf

# Index & Query
/internal/index/ @zzszmyf

# Parser
/internal/parser/ @zzszmyf

# VFS & FUSE
/internal/vfs/ @zzszmyf
/internal/fusefs/ @zzszmyf
